//项目提供scss全局变量
//左侧菜单
$base-menu-width:260px;
$base-menu-background:#001529;
//顶部导航
$base-tabbar-height:50px;
//logo高度
$base-menu-logo-height:50px;
//logo文字大小
$base-menu-logo-size:20px;
//折叠宽度
$base-menu-min-width:50px